.page-support
  h1.text-center.text-muted.pb-3 Hello, we are here to support you
  .card(style='max-width:450px;margin:0 auto;')
    form(method='POST', action='https://formspree.io/lhviet88@gmail.com')
      .card-body
        .form-group
          label(for='inputEmail') Email address
          input#inputEmail.form-control(type='email', name="email", aria-describedby='inputEmailHelp', placeholder='Enter email')
          small#inputEmailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
        .form-group
          label(for='inputMessage') Your message
          textarea#inputMessage.form-control(type='text', name="message", aria-describedby='inputMessageHelp', placeholder='Your message')
          small#inputMessageHelp.form-text.text-muted Don't hesitate to tell us how to provide you a better service
      .card-footer.text-end
        button.btn.btn-danger(type='submit')
          span Send
          i.fa.fa-paper-plane.ml-2
  .form-group.text-center.mt-5
    a.btn.btn-outline-secondary(routerLink='/')
      span Back to the converter
      i.fa.fa-home.ml-2
