.page-how
  .row(*ngIf='articles$ | async as articles')
    .col-12.col-sm-8.order-last.order-sm-first
      .card-deck
        app-card-article(*ngFor='let item of articles', [article]='item')
    .col-12.col-sm-4.order-first.order-sm-last
      .card.mb-5
        .card-body
          h5.card-title.text-info Latest Post
          ul.list-group.list-group-flush
            a.list-group-item.list-group-item-action.px-1(*ngFor='let item of articles', [routerLink]="['/blog', item.id]") {{item.title}}
