.page-how {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;

  @media only screen and (min-width: 992px) {
    /* For desktop: */
    width: 990px;
  }

  .card-img-top {
    height: 220px;
    background-size: cover;
    background-position: center;
  }
}
