.card-donate
  .card.bg-info.text-white(style='width: 100%;')
    .card-body
      h5.card-title We Need Your Help
      h6.card-subtitle.mb-2 A small donation will help us
    ul.list-group.list-group-flush
      li.list-group-item.bg-info.text-white To pay for hosting and domain
      li.list-group-item.bg-info.text-white Maintain and continue improve the service
      li.list-group-item.bg-info.text-white Knowing that we are not alone
      li.list-group-item.bg-info.text-white And more...
    .card-footer
      form.text-center(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top', style='line-height:1;cursor:pointer;', (click)='clickOnDonate()')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='UKAMD2E4YMBGJ')
        input(type='image', src='https://res.cloudinary.com/ddlt2cjne/image/upload/v1516717032/paypal_donate_j3nrsm.png', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
