.card-article {

  .card {
    box-shadow: grey 2px 2px 13px 3px;
  }

  img {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
