.card-article
  .card.mb-5([routerLink]="['/blog', article.id]")
    img.card-img-top([ngStyle]="{ 'background-image': 'url(' + article.imageUrl + ')'}")
    .card-body
      h5.card-title {{article.title}}
      h6.card-subtitle.mb-2.text-muted {{article.tags}}
      p.card-text {{article.description}}
