
@import "../../../scss/my-variables";

.page-home {
  width: 100%;
  height: 85vh;
  position: relative;
  word-spacing: -5px;
  margin: .3rem auto;
  margin-bottom: 2rem;
}

.control-bar {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  padding: 0 .3rem;
  z-index: 9;

  .control-bar-item {
    display: inline-block;
    opacity: .6;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      opacity: 1;
    }

    &:first-child {
      margin-right: .4rem;
    }
  }
}

#draggable{
  position: absolute;
  z-index: 6;
  width: 0.3rem;
  height: 100%;
  cursor: w-resize;
  background: #bfbfbf6b;
  margin-top: 1.8rem;

  &:hover {
    background: #bf7264;
  }

  span {
    top: 47%;
    margin: 0 0.025rem;
    height: 1.4rem;
    width: 0.25rem;
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 0 solid #5a5a5a;
    border-right-width: 1px;
    border-left-width: 1px;
  }
}

.nav-bar-top {

  button {
    cursor: pointer;
    padding: .1rem;
    font-size: 0.8rem;
  }

  i {
    width: 1rem;
  }
}

.pugErr {
  position: absolute;
  bottom: .1rem;
  right: .5rem;
  color: rgb(255, 181, 179);
  word-spacing: 0;
  font-size: .9rem;
  padding-left: 3rem;
  text-align: right;
  z-index: 8;
}

.left-pug,
.right-html {
  position: relative;
  display: inline-block;
  height: 100%;
  top: 0;

  textarea {
    border: none;
    resize: none;
  }
}

.left-pug {
  vertical-align: top;
  width: 40%;
}

.right-html {
  vertical-align: top;
  width: 60%;
}

.textbox-pug,
.textbox-html {
  width: 100%;
  height: 100%;
  padding: 0;
  word-spacing: 0;
  border: solid 1px #545454;
}

.textbox-pug {
  background-color: #272822;
}

.resize-handler {
  position: absolute;
  top: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 9;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: .5rem;
}

.fb-like-section {
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: .5rem;
}

.html-render-block {
  width: 100%;
  padding: 10px;
}

.btn-convert {
  width: 3.7rem;
}
