.page-home
  #draggable
    span
  .left-pug
    .nav-bar-top.mb-1.text-end
      button.btn.btn-outline-secondary.mr-1([class.active]='pug.theme.indexOf("eclipse") > -1', (click)='clickTogglePugTheme()')
        i.fa.fa-adjust
      button.btn.btn-outline-secondary.btn-convert(type='button', *ngIf='!pug.isConverting', (click)='triggerConvertPug2Html(pug.text)') ⇨ HTML
      button.btn.btn-secondary.btn-convert(type='button', *ngIf='pug.isConverting')
        i.fa.fa-spinner.fa-spin
      button.btn.btn-outline-secondary.ml-2((click)='copyPug()') {{pug.copytext}}
    .pugErr(*ngIf='pug.error && pug.error.code') {{pug.error.msg}} - line {{pug.error.line}}:{{pug.error.column}}
    .textbox-pug.card
      #textboxPug(style="width:100%; height: 100%;")
  .right-html
    .nav-bar-top.mb-1.text-end
      button.btn.btn-outline-secondary.btn-convert(type='button', *ngIf='!html.isConverting', (click)='triggerConvertHtml2Jade(html.text)') PUG ⇦
      button.btn.btn-outline-secondary.btn-convert(type='button', *ngIf='html.isConverting')
        i.fa.fa-spinner.fa-spin
      button.btn.btn-outline-secondary.mx-2((click)='copyHtml()') {{html.copytext}}
      button.btn.btn-outline-secondary((click)='clear()')
        i.fa.fa-times
      button.btn.btn-outline-secondary.ml-1([class.active]='html.theme.indexOf("eclipse") > -1', (click)='clickToggleHtmlTheme()')
        i.fa.fa-adjust
    .textbox-html.card
      #textboxHtml(style="width:100%; height: 100%;")
  .control-bar
    .control-bar-item
      app-checkbox([label]='"unwrap"', [isChecked]='html.isJadeBodyless', (onToggle)='checkJadeBodyless($event)')
    .control-bar-item
      app-checkbox([label]='"beautify"', [isChecked]='html.isHtmlBeautify', (onToggle)='checkHtmlBeautify($event)')
.fb-like-section
  .fb-like(data-href='http://pughtml.com/', data-layout='standard', data-width='300', data-action='like', data-size='small', data-show-faces='false', data-share='true')

.html-render-block
  .row
    .col-12.col-sm-8
      .title.text-muted Bootstrap 5.0.0-beta1 & Font Awesome 4.7.0 supported
      app-html-renderer([htmlCode]='html.text')
    .col-12.col-sm-4
      app-card-donate((clickDonate)='clickDonate()')
.text-center
  .fb-comments(data-href='http://pughtml.com/', data-numposts='30')

