.page-article
  div(*ngIf='article$ | async as article')
    h3 {{ article.title }}
    h6.text-muted {{ article.tags }}
    .text-muted(style='font-size:.85em;') {{ article.createdAt | date }}
    .blockquote {{ article.description }}
    .article-content([innerHTML]='article.content')
    .text-muted
      | Original/Ref. Article from
      a.ml-2([href]='article.url', target='_blank') {{article.url}}
