.page-article {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;

  @media only screen and (min-width: 992px) {
    /* For desktop: */
    width: 900px;
  }

  .card {
    min-width: 800px;
  }
  .card-img-top {
    height: 220px;
    background-size: cover;
    background-position: center;
  }

  img {
    max-width: 100% !important;
  }
}
