app-nav-bar
.app

  app-top-banner-donate(*ngIf='!isTopBannerDonateClosed', (closeBanner)='onCloseBannerDonate()', (clickDonate)='clickDonate()')

  // pughtml-display-ad-horizontal
  ins.adsbygoogle(style='display:block;text-align:center;', data-ad-client='ca-pub-3000256623459881', data-ad-slot='7116931322', data-ad-format='auto', data-full-width-responsive='true')

  router-outlet
.footer-wrapper.bg-dark.pt-2.pb-2
  .footer
    .copyright © 2018 Bibooki
    .contact
      .d-inline-block.mr-2
        i.fa.fa-envelope-o.mr-2
        span LHViet88@gmail.com
      img.rounded.float-right(alt='viet', src='/assets/img-profile-viet.jpg')
