nav.nav-bar-component.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-1
  a.navbar-brand(href='/')
    img(src='/assets/logo.png',style='transform: scaleX(-1);width:45px;height:auto;')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarToggler.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.text-center
      li.nav-item(routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}")
        a.nav-link(routerLink='/') Converter
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink='/what-is-pug-html') What is Pug
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink='/blog') Blog
    ul.navbar-nav.ml-auto.text-center
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink='/support')
          span Support
          i.fa.fa-life-ring.ml-2
