.top-banner-donate.p-2.w-100.bg-light
  .d-flex.justify-content-center
    .d-block.mr-5
      h5
        | Hi friends,
        span.text-primary.ml-2 is Pug-HTML helping you?
      h6.text-danger.mb-2 I need your HELP!!! I am surprised that last year I received only $3 from a good man to support. It is not enough, and I need you help to pay domain, hosting, and maintain fees of this service.
    .d-block.text-left.align-self-center
      form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top', style='line-height:1;cursor:pointer;', (click)='clickOnDonate()')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='UKAMD2E4YMBGJ')
        input(type='image', src='https://res.cloudinary.com/ddlt2cjne/image/upload/v1516717032/paypal_donate_j3nrsm.png', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
        img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
  i.fa.fa-close((click)='clickCloseBanner()')
