.page-what
  .cards-pug.d-block.d-sm-flex
    .card.mr-3(style='width: 100%;')
      .card-body
        h5.card-title What is Pug
        h6.card-subtitle.mb-2.text-muted Pug is an HTML preprocessor
        p.card-text
          | Like Sass/scss, the css preprocessor, Pug helps to write HTML code simpler, faster, and more powerful.
    .card(style='width: 100%;')
      .card-body
        h5.card-title Pug & Html
        h6.card-subtitle.mb-2.text-muted Who could utilize Pug?
        p.card-text
          | Any code could be written in an HTML file may leverage Pug
        a.card-link(href='//pugjs.org', target='_blank') HTML
        a.card-link(href='//angular.io', target='_blank') Angular
        a.card-link(href='//expressjs.com', target='_blank') ExpressJS (NodeJS)
        a.card-link(href='//stackoverflow.com/questions/42023440/is-it-possible-to-write-php-in-jade-pug', target='_blank') PHP
        a.card-link(href='//vuejs.org/v2/guide/single-file-components.html', target='_blank') VueJS
        a.card-link(href='//pugjs.org/language/interpolation.html', target='_blank') ...
  img.w-100.my-3(src='https://pumpula.net/foolproof-html/slim-sample.png', style='height:500px;')
  .github-content
    h1 Pug
    p
      | Full documentation is at
      a(href='https://pugjs.org/') pugjs.org
    p
      | Pug is a high-performance template engine heavily influenced by
      a(href='http://haml.info/') Haml
      | and implemented with JavaScript for
      a(href='http://nodejs.org') Node.js
      |  and browsers. For bug reports,
      | feature requests and questions,
      a(href='https://github.com/pugjs/pug/issues/new') open an issue
      | .
      | For discussion join the
      a(href='https://gitter.im/pugjs/pug') chat room
      | .
    p
      | You can test drive Pug online
      a(href='https://pugjs.org/') here
    h2
      p
      | Rename from &quot;Jade&quot;
    p
      | This project was formerly known as &quot;Jade.&quot; However, it has been revealed to us that &quot;Jade&quot; is a registered trademark, and as a result, a rename is needed. After some discussion among the maintainers,
      strong &quot;Pug&quot;
      |  has been chosen as the new name for this project. The next major version will carry &quot;pug&quot; as the package name.
    p
      | If your package or app currently uses
      code jade
      | , don&apos;t worry: we have secured permissions to continue to occupy that package name, although all new versions will be released under
      code pug
      | .
    p
      | Before the renaming, we had already begun working on an incompatible Jade 2.0.0. We have then made it so that this new major version bump will coincide with the rename to Pug. Therefore, upgrading from Jade to Pug will be the same process as upgrading any other package with a major version bump. Currently, Pug 2.0.0 is still in beta stage, and there are several syntactic differences we have deprecated and removed. Such differences are documented at
      a(href='https://github.com/pugjs/pug/issues/2305') #2305
      | .
    p
      | The website and documentation for Pug are still being updated, but if you are new to Pug, you should get started with the new syntax and install the Pug package on npm.
    h2 Installation
    p
      | Please refrence from
      a(href='https://github.com/pugjs/pug/') pugjs
    ul
      li
        | Via npm
        code npm install pug
      li
        | Command Line
        code npm install pug-cli -g
      li
        | Help
        code pug --help
    h2 Syntax
    p
      | Please refrence from
      a(href='https://github.com/pugjs/pug/') pugjs
    h2 API
    p
      | For full API, see
      a(href='https://pugjs.org/api/reference.html') pugjs.org/api/reference.html
    h3 Options
    ul
      li
        code filename
        |   Used in exceptions, and required when using includes
      li
        code compileDebug
        |   When
        code false
        |  no debug instrumentation is compiled
      li
        code pretty
        |     Add pretty-indentation whitespace to output
        em (false by default)
    h2 Browser Support
    p
      | The latest version of pug can be download for the browser in standalone form from
      a(href='https://pugjs.org/js/pug.js') here
      | .  It only supports the very latest browsers though, and is a large file.  It is recommended that you pre-compile your pug templates to JavaScript.
    p To compile a template for use on the client using the command line, do:
    .highlight.highlight-source-shell
    | $ pug --client --no-debug filename.pug
    p
      | which will produce
      code filename.js
      |  containing the compiled template.
    h2 Additional Resources
    p Tutorials:
    ul
      li
        | cssdeck interactive
        a(href='http://cssdeck.com/labs/learning-the-jade-templating-engine-syntax') Pug syntax tutorial
      li
        | cssdeck interactive
        a(href='http://cssdeck.com/labs/jade-templating-tutorial-codecast-part-2') Pug logic tutorial
      li
        a(href='https://gist.github.com/japboy/5402844') Pug &#x306B;&#x3064;&#x3044;&#x3066;&#x3002;
        |  (A Japanese Tutorial)
    p Implementations in other languages:
    ul
      li
        a(href='https://github.com/acidjazz/larpug') Larpug - Pug for Laravel
      li
        a(href='https://github.com/pug-php/pug') php
      li
        a(href='https://scalate.github.io/scalate/documentation/scaml-reference.html') scala
      li
        a(href='https://github.com/slim-template/slim') ruby
      li
        a(href='https://github.com/matannoam/pypugjs') python
      li
        a(href='https://github.com/neuland/jade4j') java
      li
        a(href='https://github.com/AspNetMonsters/pugzor') C# ASP.NET Core
    p Other:
    ul
      li
        a(href='https://github.com/brianc/jade-mode') Emacs Mode
      li
        a(href='https://github.com/digitaltoad/vim-pug') Vim Syntax
      li
        a(href='http://github.com/miksago/jade-tmbundle') TextMate Bundle
      li
        a(href='https://github.com/aaronmccall/jade.mode') Coda/SubEtha syntax Mode
      li
        a(href='https://github.com/donpark/html2jade') html2pug
        |  converter
      li
        a(href='https://github.com/SE7ENSKY/jade2php') pug2php
        |  converter
      li
        a(href='https://github.com/ded/jade-server') Pug Server
        |   Ideal for building local prototypes apart from any application
      li
        a(href='https://github.com/yivo/pug-ruby') pug-ruby
        |  gem: Allows to invoke Pug and Jade from Ruby
      li
        a(href='https://github.com/yivo/pug-rails') pug-rails
        |  gem: Integrates Pug and Jade into your Rails application
      li
        a(href='https://github.com/ladjs/cache-pug-templates') cache-pug-templates
        |  Cache Pug templates for
        a(href='https://github.com/ladjs/lad') Lad
        | /
        a(href='https://github.com/koajs/koa') Koa
        | /
        a(href='https://github.com/expressjs/express') Express
        | /
        a(href='https://github.com/senchalabs/connect') Connect
        |  with
        a(href='https://redis.io/') Redis
    h2 Backers
    p
      | Support us with a monthly donation and help us continue our activities. [
      a(href='https://opencollective.com/pug#backer') Become a backer
      | ]
    h2 Sponsors
    p
      | Become a sponsor and get your logo on our README on Github with a link to your site. [
      a(href='https://opencollective.com/pug#sponsor') Become a sponsor
      | ]
    h2 License
    p MIT

