.page-what {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: 992px) {
    /* For desktop: */
    width: 900px;
  }
}

.cards-pug {
  padding-top: 25px;
}

.github-content {
  padding: 25px 0;

  a {
    padding: 0 5px;
  }

  code {
    padding: 0 5px;
  }
}
