- var title = 'PugHtml - Pug and HTML online converter in realtime';
- var desc = 'Online Pug and HTML converter. Easy to switch between HTML and Pug (Jade) with options to minify or beautify your code. Test render with Bootstrap 5.0.0-beta1 & Fontawesome 4.7.';
- var imaSrc = 'http://res.cloudinary.com/ddlt2cjne/image/upload/v1514361209/promotion-image_nwtphh.jpg';
doctype html
html(lang='en')
  head
    base(href='/')
    title= title
    // Search Engine
    meta(name='description', content=desc)
    meta(name='image', content=imaSrc)
    // Schema.org for Google
    meta(itemprop='name', content=title)
    meta(itemprop='description', content=desc)
    meta(itemprop='image', content=imaSrc)
    // Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=desc)
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content=title)
    meta(name='og:description', content=desc)
    meta(name='og:image', content=imaSrc)
    meta(name='og:url', content='http://pughtml.com')
    meta(name='og:site_name', content='Pug Html Converter')
    meta(name='fb:app_id', content='148850912437449')
    meta(name='og:type', content='website')

    meta(name='Keywords', content='pug, jade, html, tools, convert, converter, minify, minifier, simplify, simplifier')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    #fb-root
    script.
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=148850912437449';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js')

    .app-root
      app-root

    // pughtml-display-ad-horizontal
    script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-29094709-19', 'auto');
      ga('send', 'pageview');

      //script(type='text/javascript', src='//pugjs.org/js/pug.js', async='', defer='')
      let pug;
      window.onload = function () {
        const head = document.getElementsByTagName("head")[0];
        const script = document.createElement("script");

        script.setAttribute("type", "text/javascript");
        script.setAttribute("src", "//pugjs.org/js/pug.js");

        head.addEventListener("load", function (event) {
          if (event.target.nodeName === "SCRIPT") {
            // console.log("Script loaded: " + event.target.getAttribute("src"));
            pug = require('pug');
          }
        }, true);

        head.appendChild(script);
      }
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js', integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW', crossorigin='anonymous')

